#root {
  height: 100vh;
}

#chat-wrapper {
  overflow-y: hidden;
  height: 100%;

  flex-direction: column;
}

@import "./input.scss";
@import "./header.scss";
@import "./chatbox.scss";
@import "./messages.scss";
