.input {
  > input {
    flex: 1;

    margin: 0 8px;
    padding: 0 16px;
    border-radius: 56px;
    outline: none;

    background-color: #33383b;
  }

  > .emoji-mart {
    max-width: 92vw;

    position: absolute;
    bottom: 90px;
    .emoji-mart-anchor-icon {
      display: flex;
      justify-content: center;
    }
    .emoji-mart-category-list {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }
  }
}
